@keyframes animation {
  0% {
    transform: translateX(0px);
  }

  50%{
    transform: translateX(100%) rotate(180deg);
  }

  }

.Anim{
  max-width: 900px;
  max-height: 1000px;
  animation: animation 5s;
  animation-iteration-count: infinite;
}

@keyframes animationBody {
  0% {
    background-color: #22c1c3;
  }

  50%{
    background-color: #fdbb2d;
  }

  75%{
    background-color: #ff9966;
  }

  90%{
    background-color: #ff5e62;
  }
  100%{
    background-color: #22c1c3;
  }
}

#index{
  animation: animationBody 5s;
  animation-iteration-count: infinite;
}

/* Fin de l'animation première page */

tr:nth-child(odd){ /* nth-child(odd) veut dire qu'il n'appliquera la demande qu'au "tr" impair (ligne 1,3 etc du tableau) */
  background-color: silver;
}

.boy{
  color: green;
}

.girl{
  color: violet;
}
