@keyframes animation {
  0% {
    transform: translateX(0px);
  }

  50%{
    transform: translateX(100%) rotate(180deg);
  }

  }

.Anim{
  max-width: 900px;
  max-height: 1000px;
  animation: animation 5s;
  animation-iteration-count: infinite;
}

@keyframes animationBody {
  0% {
    background-color: #22c1c3;
  }

  50%{
    background-color: #fdbb2d;
  }

  75%{
    background-color: #ff9966;
  }

  90%{
    background-color: #ff5e62;
  }
  100%{
    background-color: #22c1c3;
  }
}

#index{
  animation: animationBody 5s;
  animation-iteration-count: infinite;
}
